/* Affects whole content area */

body.homepage {
    background-image: url(Images/Backgrounds/saltflat-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body.gallery {
    background-image: url(Images/Backgrounds/overlook-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 25%;
}

body.writeups {
    background-image: url(Images/Backgrounds/camping-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}

.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    
    from {opacity: 0;}
    
    to {opacity: 1;}

}

@keyframes fadeIn {
    from {opacity: 0;}

    to { opacity: 1; }
}

/* Hero Image and Content */

header {
    height: 30vh; /* Height of the whole header */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Images/Banners/home-banner.jpg);
    background-position: 100% 50%;
}

#writeups {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Images/Banners/writeups-banner.jpg);
    background-position: 100% 125%;
}

#gallery {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Images/Banners/gallery-banner.jpg);
    background-position: 100% 75%;
}

/* Logo is currently removed.

.logo {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;

}

.logo img {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
}

.logo img:hover {
    box-shadow: 0px 0px 5px black;
}

*/

/* Navigation Bar */

nav {
    width: 50%;
    margin: 0 auto;
    top: 90%;
    position: relative;

}

nav ul {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0;
}

nav li{
    width: 150px;
    display: inline-block;
    box-shadow: 0px 0px 5px grey
}

nav li:hover {
    box-shadow: 0px 0px 8px white
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18pt;
    font-family: Helvetica;
}

/* About page */

.about article{
    background: rgba(255, 255, 255, 0.808);
    padding-left: 10px;
    width: 30%;
    margin: auto;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about h1 {
    text-align: center;
}

.about h2 {
    text-align: center;
}

.about p {
    text-align: center;
    width: 70%;
    margin: auto;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif
}

.about img {
    display: block;
    margin: auto;
    width: 15vw;
    height: 30vh;
    object-fit: cover;
}